body{
    background-color: rgba(55, 54, 91, 1);
}

.container-fluid{
    background-color: rgba(55, 54, 91, 1);
}

.textomenu a{
    text-decoration: none;
    color: rgba(133, 99, 159, 1);
}

.textomenu{
    display: flex;
    gap: 30px;
    font-size: 30px;
    margin-left: 25px;
}

.vermais{
    display: flex;
    background-color: rgba(41, 41, 66, 1);
    width: 80px;
    height: 30px;
    border: solid;
    border-width: 2px;
    border-radius: 20px;
    font-size: 18px;
    color: rgba(133, 99, 159, 1);
    border-color: rgba(133, 99, 159, 1);
    justify-content: center;
    justify-items: center;
    justify-self: flex-end;
    margin-top: 10px;
}

.imagenshome{
    height: 350px;
    display: flex;
    gap: 80px;
    margin: 20px;
    margin-left: 10%;
}

.linhaimg{
    background-color: rgba(41, 41, 66, 1);
    height: 2px;
}

.imagenshome2{
    margin-top: 60px;
    height: 350px;
    display: flex;
    gap: 80px;
    margin: 20px;
    margin-left: 10%;
}

.rodape{
    background-color: rgba(41, 41, 66, 1);
    border: solid;
    border-color: rgba(133, 99, 159, 1);
    border-width: 1px;
}

.rodapelogos{
    color: rgba(133, 99, 159, 1);
}

.linharodape{
    background-color: rgba(133, 99, 159, 1);
    height: 1px;
}

.rodape h1{
    color: rgba(125, 123, 123, 1);
}

.rodape p{
    color: white;
    width: 854px;
}

.rodapelista{
    color: white;
    list-style: none;
}

.rodapelista2{
    color: rgba(125, 123, 123, 1);
    list-style: none;
    display: flex;
    gap: 20px;
}

.logorodape{
    display: flex;
    margin-left: 50%;
}

.rodapebaixo{
    padding: 20px;
}

.rodapemargin{
    padding: 20px;
}

.cadastro{
    background-color: rgba(41, 41, 66, 1);
    border: solid;
    border-color: rgba(133, 99, 159, 1);
    border-radius: 20px;
    border-width: 1px;
    width: 900px;
    height: 700px;
    padding-top: 100px;
    padding-left: 200px;
    margin: 80px;
}

.cadastro input{
    background-color: rgba(55, 54, 91, 1);
    color: rgba(133, 99, 159, 1);
    border-radius: 10px;
    width: 400px;
    height: 50px;
    margin: 10px;
}

.cadastro h1{
    color: rgba(133, 99, 159, 1);
}

.categorialista li{
    list-style: none;
    font-size: 30px;
    color: aliceblue;
}

.categorialista a{
    text-decoration: none;
    color: inherit;
}

.superiordw{
    display: flex;
    margin-top: 20px;
    background-color: rgba(41, 41, 66, 1);
    color: rgba(133, 99, 159, 1);
    justify-content: space-between;
    height: 800px;
}